[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
llama-index = "*"
pinecone-client = "*"
openapi = "*"
llama-index-vector-stores-pinecone = "*"
black = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.8"
